asn1crypto==0.22.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
cycler==0.10.0
decorator==4.1.2
Django==1.11.29
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.18
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.1.0
mpld3==0.3
numpy==1.13.3
pandas==0.21.0
plotly==2.2.0
pycparser==2.18
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==4.5.2
urllib3==1.22
