{% extends "students/Base.html" %}

{% block title %}All Students{% endblock %}

{% block content %}

    <a href="{% url 'createStudent' %}" class='btn btn-primary'>Create Student</a>
    <br>

    {% if studentsList%}
        <table class="table table-striped">
        <tr>
            <td>first name</td>
            <td>last name</td>
            <td>phone number</td>
            <td>exam number</td>
            <td>subject1</td>
            <td>subject2</td>
            <td>subject3</td>
        </tr>

        {% for ele in studentsList %}
            {% if ele.grade.all %}
                
                {% for g in ele.grade.all %}
                    {% if g == ele.grade.all.first %}
                        <tr>
                            <td>{{ ele.firstName }}</td>
                            <td>{{ ele.lastName }}</td>
                            <td>{{ ele.phoneNumber }}</td>
                            <td>{{ g.examNumber }}</td>
                            <td>{{ g.subject1Score }}</td>
                            <td>{{ g.subject2Score }}</td>
                            <td>{{ g.subject3Score }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ g.examNumber }}</td>
                            <td>{{ g.subject1Score }}</td>
                            <td>{{ g.subject2Score }}</td>
                            <td>{{ g.subject3Score }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td>{{ ele.firstName }}</td>
                    <td>{{ ele.lastName }}</td>
                    <td class='phone'>{{ ele.phoneNumber }}</td>
                </tr>
            {% endif %}
            
        {% endfor %}
        </table>

    {% else %}
        <p>No students are available.</p>
    {% endif %}
{% endblock %}



