{% load static %}

<!DOCTYPE html>
    <html>
      <head>
        {% block head %}
        <meta charset="UTF-8">
        <!-- jQuery -->
        <script src="{% static "students/js/jquery-1.12.3.min.js" %}"></script>
        <!-- Bootstrap css & js-->
        <link href="{% static "students/css/bootstrap.min.css" %}" rel="stylesheet" name="css">
        <script src="{% static "students/js/bootstrap.min.js" %}"></script>
 
        <!-- custom css -->
        <link href="{% static "students/css/student.css" %}" rel="stylesheet" name="css">
        <!-- custom js -->
        <script src="{% static "students/js/student.js" %}"></script>

        <title>
          {% block title %}{% endblock %} - Student Grade System
        </title>
        {% endblock %}
      </head>

        <body>

          <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Student Grade System</a>
              </div>
              <ul class="nav navbar-nav">

              </ul>

              {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <form action="/students/logout/" method='post'>
                      {% csrf_token %}
                      <button class="btn btn-primary navbar-btn" type="submit">log out</button>
                    </form>
                  </li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                  <li style='color:white; font-size:30px'>
                    <a href="" class='personalPage'>
                      {{ request.user.username }}
                    </a>
                  </li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <form action='/students/signin' method='get'>
                      <button class="btn btn-primary navbar-btn" type="submit">sign in</button>
                    </form>
                  </li>
                </ul> 
                <!-- <ul class="nav navbar-nav navbar-right">
                  <li>
                    <form action='/students/signup' method='get'>
                      <button class="btn btn-info navbar-btn" type="submit">sign up</button>
                    </form>
                  </li>
                </ul>  -->
              {% endif %}
            </div>
          </nav>

          <div id='content'>{% block content %}{% endblock %}</div>
        </body>

    </html>