{% extends "students/Base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
    <h3>What student would you like to search for? Please type in:</h3>
        <div class="col-xs-4">
            <form action="/students/search/" method="POST">
                {% csrf_token %}
                <input type="text" name="keyword" class="form-control" placeholder="Search student name:(ex.Sarah)"><br />
                <input class="btn btn-default" type="submit">
            </form>
        </div>

    <br><br><br><br><br>
    
    <div>
        <h2>Search Result of Students</h2>

        <table class="table table-striped">
            <tr>
                <td>first name</td>
                <td>last name</td>
                <td>phone number</td>
                <td>exam number</td>
                <td>subject1</td>
                <td>subject2</td>
                <td>subject3</td>
            </tr>
        {% if searchResult %}
            {% for ele in searchResult %}
                <tr>
                    <td>{{ ele.0 }}</td>
                    <td>{{ ele.1 }}</td>
                    <td>{{ ele.2 }}</td>
                    <td>{{ ele.3 }}</td>
                    <td>{{ ele.4 }}</td>
                    <td>{{ ele.5 }}</td>
                    <td>{{ ele.6 }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td><h3>Not Found</h3></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            

        {% endif %}
        </table>
    </div>
    
{% endblock %}