{% extends "students/Base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}
    <h3>Sign up for free!</h3>
    <div class="col-xs-4">
        <form action="students/signup/" method="POST" id='signupForm'>
          {% csrf_token %}

          <div class="fieldWrapper">
            {{ form.firstName.label_tag }}<br/>
            {{ form.firstName.errors }}
            {{ form.firstName }}
          </div>
          <br/>
          
          <div class="fieldWrapper">
            {{ form.lastName.label_tag }}<br/>
            {{ form.lastName.errors }}
            {{ form.lastName }}
          </div>
          <br/>

          <div class="fieldWrapper">
            {{ form.phoneNumber.label_tag }}<br/>
            {{ form.phoneNumber.errors }}
            {{ form.phoneNumber }}
          </div>
          <br/>

          <div class="fieldWrapper">
            {{ form.email.label_tag }}<br/>
            {{ form.email.errors }}
            {{ form.email }}
          </div>
          <br/>
          
          <div class="fieldWrapper">
            {{ form.userName.label_tag }}<br/>
            {{ form.userName.errors }}
            {{ form.userName }}
          </div>
          <br/>

          <div class="fieldWrapper">
            {{ form.password.label_tag }}<br/>
            {{ form.password.errors }}
            {{ form.password }}
          </div>
          <br/>

          <div class="fieldWrapper">
            {{ form.passwordConfirm.label_tag }}<br/>
            {{ form.passwordConfirm.errors }}
            {{ form.passwordConfirm }}
          </div>
          <br/>

          {{ form.non_field_errors }}

          <input class="btn btn-default" type="submit" id='submitSignupForm'>
          <br /><br />
        </form>
    </div>
</div>
{% endblock %}