.fa-check-circle-o {
  color: green;
}
.fa-times {
    color: red;
}
.form-control-xxx {
    width: 90%;
    display:inline;
}
.form-control-eye {
    width: 10%;
    display:inline;
}
.check {
    display: block;
    width: 65px;
    height: 33px;
    background: #4E9CAF;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.notAllowed {
    cursor:not-allowed
}